body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: url('https://scontent.fdet1-2.fna.fbcdn.net/v/t1.6435-9/67914370_107191823973032_2200838901436776448_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=8zNpa-6WwQgAX9b2qEv&_nc_ht=scontent.fdet1-2.fna&oh=00_AT8W3kMikwWoy6kO9G2-67KTwNDetS7ai_6q5A043oRfhw&oe=62645872'); */
    text-align: center;
    padding: 0%;
    background-color: black;
  }
  footer{
    height: 10rem;
    background-color: black;
  }
  #footerH1{
    color: white;
  }
  footer p{
    position: relative;
    display:flexbox;
    color: white;
  }
  ul{
    color: white;
  }
  h1{
    color: white;
  }
  input{
    background-color: rgb(60, 8, 247);
    border-radius: 7px;
    color:white;
  }
  @media screen and (min-width: 600px) {
input{
 max-width: 50%;
}
}
  p{
    font-size: x-large;
    color: white;
  }
  button{
    color: blue;
    background-color: lime;
    border-radius: 7px;
  }
  .fontUp{
    font-size: x-large;
  }
  img{
    height: 30rem;
    width: 50rem;
    text-align: center;
    border-radius: 15%;
  }
  @media screen and (max-width: 600px) {
img{
 text-align: center;
height: 90%;
width: 90%;
}
}
  .wrap{
    height: 50%;
    width: 50%;
    display: block;
  }
  label{
    color: white;
  }
  .navStyle{
    background-color: grey;
  }
.test2{
min-width: 100%;
min-height: 100%;
opacity: 90%;
}
h3{
color: rgb(12, 16, 240);
}
form{
background-color: black;
border-style:outset;
padding-top: 5%;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 5%;
border-radius: 15%;
}
.card{
background-color: hsl(181, 89%, 18%);
}
.card-body{
background-color: black;
border-radius: 10px;
}
#hh1{
color: white;
}
hr {
background-color: lime;
}